html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
}

main {
    height: 100%;
    position: relative;
}

section {
    background: #000000;
    color: #ffffff;
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100vh;
    line-height: 1.4;
    scroll-snap-align: center;
    padding: 20px;
    place-items: center;
    position: relative;
}

.custom-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-nav .navbar-toggler {
    border: 1px solid #ffffff;
}

.custom-nav a {
    color: #ffffff;
    font-family: 'Playfair Display', sans-serif;
}

.custom-nav a:hover {
    color: #ff0000;
    text-decoration: none;
}

video {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p {
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.tour {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about {
    background-image: url("LUNASEA.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

#about-text {
    align-self: end;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: 100%;
}

.icon-link {
    padding: 0 10px;
}

.icon-white {
    color: #ffffff;
}

.icon-white:hover {
    color: #ff0000;
}

footer {
    align-self: end;
    background-color: black;
    color: #ffffff;
    font-size: 10px;
    padding: 10px;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: end;
    width: 100%;
}

footer a {
    color: #c0c0c0;
}

footer a:hover {
    color: #ff0000;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    video {
        object-fit: contain;
    }

    section {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    #about {
        background-size: contain;
    }
}

@media only screen and (max-width: 576px) {
    .col img {
        width: 50vw;
    }
}